.benefits {
  padding: var(--gap-lg) 0;
}

.benefits-headline {
  h2 {
    margin-bottom: var(--gap-sm);
  }

  p {
    margin-bottom: var(--gap-lg);
    color: $grayish-blue;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.benefits-item {
  > img {
    width: 72px;
    height: 72px;
  }

  > img,
  > h3 {
    margin-bottom: var(--gap-sm);
  }

  > p {
    color: $grayish-blue;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: var(--gap-md);
    text-align: center;

    > img {
      margin: 0 auto var(--gap-sm) auto;
    }
  }
}
