.footer {
  background: $dark-blue;
  padding: var(--gap-md) 0;

  .brand {
    padding-left: 0;

    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: center;
    }
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
    padding: var(--gap-lg) 0;
  }
}

.social-medias {
  margin-top: var(--gap-xs);

  > ul {
    display: flex;
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    justify-content: center;
    margin-bottom: var(--gap-md);
  }
}

.social-medias-item {
  > a {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    > img {
      width: 25px;
      height: 25px;
      margin-right: var(--gap-xs);
    }
  }

  > a:hover {
    > img {
      filter: invert(0.4) sepia(1) saturate(13) hue-rotate(93.6deg)
        brightness(0.93);
    }

    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  &:last-child {
    > a img {
      margin-right: 0;
    }
  }
}

.footer-sitemap-nav {
  > ul > li {
    margin-bottom: var(--gap);

    a {
      color: $very-light-gray;
    }

    @include green-hover(a);
  }
}

.footer-aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  > a {
    margin-bottom: var(--gap-sm);
  }

  > p {
    color: $grayish-blue;
  }

  @include media-breakpoint-down(sm) {
    margin-top: var(--gap-md);

    > a,
    > p {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.attribution {
  margin-top: var(--gap-sm);
  color: $grayish-blue;

  > a {
    color: $very-light-gray;
  }

  @include green-hover(a);
}
