.footer {
  background: $dark-blue;
  padding: var(--gap-md) 0;

  @media (max-width: 768px) {
    text-align: center;
    padding: var(--gap-lg) 0;
  }
}

.social-medias {
  margin-top: var(--gap-xs);

  > ul {
    display: flex;
  }

  @media (max-width: 768px) {
    margin-bottom: var(--gap-md);
  }
}

.social-medias-item {
  > a {
    > img {
      width: 25px;
      height: 25px;

      margin-right: var(--gap-xs);
    }
  }

  &:last-child {
    > a img {
      margin-right: 0;
    }
  }
}

.footer-sitemap-nav {
  > ul > li {
    margin-bottom: var(--gap);

    a {
      color: $very-light-gray;
    }
  }
}

.footer-aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  > a {
    margin-bottom: var(--gap-sm);
  }

  > p {
    color: $grayish-blue;
  }

  @media (max-width: 768px) {
    margin-top: var(--gap-md);

    > a,
    > p {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.attribution {
  margin-top: var(--gap-sm);

  color: $grayish-blue;

  a {
    color: $very-light-gray;
  }
}
