.hero-container {
  @include media-breakpoint-down(sm) {
    width: 100vw;
  }
}

.hero {
  position: relative;
  max-width: 100vw;
  height: 698.2px;
  overflow: clip visible;

  background: $light-grayish-blue;

  @include media-breakpoint-only(md) {
    height: 488.2px;
  }

  @include media-breakpoint-down(sm) {
    height: auto;
    max-width: 100%;
  }

  &.menu-active {
    background: linear-gradient(rgba(45, 49, 77, 0.7), rgba(0, 0, 0, 0));
    // position: relative;
    // z-index: 7;

    .hero-imgs {
      img {
        display: none;
      }
    }
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 628.2px;

  h1,
  p {
    margin-bottom: var(--gap-sm);
  }

  p {
    color: $grayish-blue;
  }

  @include media-breakpoint-only(md) {
    height: 448.2px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 var(--gap) var(--gap-xl) var(--gap);
    height: auto;
    margin-top: -24px;
    align-items: center;
    text-align: center;
    width: 95vw;
  }
}

.hero-imgs {
  background: no-repeat url("../assets/images/bg-intro-desktop.svg") bottom left;
  height: 778.2px;
  position: absolute;
  right: 0;
  z-index: 2;

  > img {
    position: absolute;
    z-index: 3;

    @include media-breakpoint-down(sm) {
      width: 350px;
      top: -125px;
      left: 50%;
      margin-left: -175px;
    }

    @include media-breakpoint-only(md) {
      top: -85px;
      width: 520px;
      right: -120px;
    }

    @include media-breakpoint-only(lg) {
      top: -105px;
      width: 640px;
      right: -160px;
    }

    @include media-breakpoint-only(xl) {
      top: -130px;
      right: -190px;
      width: 800px;
    }
  }

  @include media-breakpoint-only(xs) {
    height: 360px !important;
  }

  @include media-breakpoint-down(sm) {
    position: relative;
    background: no-repeat url("../assets/images/bg-intro-mobile.svg") bottom
      left;
    background-size: cover;
    height: 410px;
  }

  @include media-breakpoint-only(md) {
    height: 748.2px;
  }
}
