.latest-articles {
  padding: var(--gap-lg) 0;
}

.latest-articles-headline {
  margin-bottom: var(--gap-md);

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.latest-articles-card {
  > img {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;

    width: 100%;
    height: min-content;
    image-resolution: initial;
  }

  > span,
  > h4,
  > p {
    padding: 0 var(--gap-sm);
  }

  > span {
    display: inline-block;
    margin-top: var(--gap-sm);
  }

  > h4,
  > p {
    margin-top: var(--gap-xs);
  }

  > span,
  > p {
    color: $grayish-blue;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: var(--gap-md);
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}
